.button-container {

    margin: 40px auto 100px auto;

    & .wrapper {
        @include flex(row, center, center);
    }
}

.see-more-button {
  width: 223px;
  height: 46px;
  border: 1px solid #e6e6eb;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s linear;
  @include font("Inter", 1.4rem, black, 500, 1.7rem);
  @include flex(row, center, center);
  
  &:hover {
    background-color: #595cff;
    color: white;
  }
}
